
.navigation-link {
    display: inline-flex;
    width: 100%;
    color: grey;
    font-weight: bold;
    text-decoration: none;
    padding-block: rem(12);
    padding-inline: rem(42);

    &__icon {

        opacity: 0.8;
        path {
            fill: grey;
        }
        // background-color: red;
    }

    // not convinced this works...
    & &__icon {
        // background-color: blue;
        padding-inline-end: rem(42);
        inline-size: rem(42);  //?
        padding-inline-end: 6px;
        inline-size: 2px;

    }


    &:hover {
        // text-decoration: underline;
        border-bottom: 3px red solid;
        border-top: 3px red solid;
        border-radius: 6px;
        border
        .navigation-link__icon {
            opacity: 1;
        }
    }
}