$breakpointMid: 982px;
$breakpointSml: 859px;
$breakpointXSml: 638px;

@mixin md {
    @media (max-width: #{$breakpointMid}) {
        @content;
    }
 }

 @mixin sm {
    @media (max-width: #{$breakpointSml}) {
        @content;
    }
 }

 @mixin x-sm {
    @media (max-width: #{$breakpointXSml}) {
        @content;
    }
 }

.jumbotron {
    &__container {
      position: relative;
      left: 10rem;
      width: 80%;
      margin-top: 50px;
      margin-bottom: 50px;

    @include md {
        left: 6rem;
    }

    @include x-sm {
        left: 3rem;
    }
}

&__image {
    background: url('https://images.pexels.com/photos/694740/pexels-photo-694740.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-position: center;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px)hue-rotate(200deg);
    height: 222px;
    background-color: #ccc;
    border-radius: 2px;

}
&__copy {
     position: absolute;
     top: 2rem;
     width: 100%;
     left: 5rem;
     color: #fff;
    @include md {
        width: 80%;
    }
    @include x-sm {
        left: 3rem;
    }
}

&__copy h1 {
    font-weight: bold;
    font-size: 3rem;
    margin: 0;
    @include sm {
        font-size: 2rem;
    }
    @include x-sm {
        text-align: center;
    }
}

&__copy p {
    font-size: 1.3rem;
    line-height: .5rem;
    word-wrap: break-word;
    @include md {
       line-height: inherit;
    }
    @include x-sm {
        font-size: 1rem;
        text-align: center;
    }
}

  }
