

.categories-list {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-block: 16px;
    border: 2px grey dashed;
    width: 50%;

    &__header {
        // @include acme-co-zero-margins-padding();
        margin: 0;
        padding: 0;
        font-size: 24px;
        color: grey;
        padding-block-end: 16px;
    }

    &__category-link {
        // @include acme-co-get-link-style($acme-co-button-pill);
        // PILL Style here
        // border: none;
        border: blue 1px solid;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 16px;
        padding: 16px;
        margin: 8px;
        color: #3e76d0;
        background-color: lightblue;

        &:hover {
            cursor: pointer;
            color: white;
        }

    }
}